body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}
h4{
  text-align:center;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.small-cont{
  width:750px;
}
.panel-heading{
  text-align:center;

}
/*#cpm,#wpm,#total,#timer{
  background-color:white;
  min-width:20px;
}*/
#wordstyped span {
      display: inline-block;
    padding: 0;
    position: relative;
    margin-right: .1em;

}
.block-results{
  background-color:blue;
  border-radius:50%;
  height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    line-height:150px;
}
.block-results p{
  color:white;
  text-align:center;
  font-size:30px;
}
#typetest{
  text-align:center;
}
.header{
  height:40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.correct{
  background-color:green;
  color:white;
}
.incorrect{
  background-color:red;
  color:white;
}
.currentword{
  background-color:green;
  color:white;
}
.nextword{
  background-color:transparent;
  color:black;
}
.incorrect{
  color: #c00;
}
ul li a:hover{
 background-color:;
}